@import "~bootstrap/scss/bootstrap";

$hex-size: 30px; // Only change size here. Best used with sizes from 5em - 10em.
$page-background: #aaa;
$hex-background: #ccc;
$hover-color: #999;
$mark-red: #dd3b3b;
$mark-blue: #4b4bee;
$win-red: #000; //TODO Make reds and blues more distint for win conditions
$win-blue: #000;

body {
  background: $page-background;
}

.cont {
  line-height: $hex-size * 1.2;
  //width: 1000px;
}

.even {
  left: $hex-size * .90;
  position: relative;
}

.odd {
  margin-bottom: $hex-size * -.9; //Odd-even
  margin-top: $hex-size * -1.45; // Even-odd
  position: relative;
}

.hex {
  background: $hex-background;
  display: inline-block;
  height: $hex-size * 1.7; //DO NOT CHANGE THIS ONE EVER!!!!!
  margin: $hex-size * .2;
  margin-right: $hex-size * .5;
  position: relative;
  transform: rotate(-90deg);
  width: $hex-size;

  &:hover {
    background: $hover-color;
    cursor: crosshair;
  }

  &::before {
    background: inherit;
    border-radius: inherit;
    content: '';
    height: inherit;
    position: absolute;
    transform: rotate(60deg);
    width: inherit;
  }

  &::after {
    background: inherit;
    border-radius: inherit;
    content: '';
    height: inherit;
    position: absolute;
    transform: rotate(-60deg);
    width: inherit;
  }
}

.hidden {
  background: $page-background !important;
  cursor: initial !important;
}

.red {
  background: $mark-red !important;
  cursor: initial !important;
}

.blue {
  background: $mark-blue !important;
  cursor: initial !important;
}

.win_R {
  background: $win-red !important;
}

.win_B {
  background: $win-blue !important
}
