@import '~bootstrap/scss/bootstrap';

$hex-size: 30px; // Only change hex size here
$small-hex-size: 8px;
$page-background: #aaa;
$hex-background: #ccc;
$hover-color: #999;
$mark-red: $red;// #dd3b3b;
$mark-blue: $blue; //#4b4bee;
$win-red: #000; // TODO Fix colorings
$win-blue: #fff;
$text-color: #fff;

body {
  background: $page-background;
  color: $text-color;
}


.navbar-nav {
  flex-direction: row;
  margin: 5px;
}

.cont {
  line-height: $hex-size * 1.2;
  //width: 1000px;
}

.even {
  left: $hex-size * .9;
  position: relative;
}

.odd {
  margin-bottom: $hex-size * -.9; //Odd-even
  margin-top: $hex-size * -1.45; // Even-odd
  position: relative;
}

.hex {
  background: $hex-background;
  display: inline-block;
  height: $hex-size * 1.7; //DO NOT CHANGE THIS ONE EVER!!!!!
  margin: $hex-size * .2;
  margin-right: $hex-size * .5;
  position: relative;
  transform: rotate(-90deg);
  width: $hex-size;

  &:hover {
    background: $hover-color;
    cursor: crosshair;
  }

  &::before {
    background: inherit;
    border-radius: inherit;
    content: '';
    height: inherit;
    position: absolute;
    transform: rotate(60deg);
    width: inherit;
  }

  &::after {
    background: inherit;
    border-radius: inherit;
    content: '';
    height: inherit;
    position: absolute;
    transform: rotate(-60deg);
    width: inherit;
  }
}

.cont-small {
  line-height: $small-hex-size * 1.2;
  // width: 800px;
}

.even-small {
  left: $small-hex-size * 1.0;
  position: relative;
}

.odd-small {
  margin-bottom: -1px; //Odd-even
  margin-top: -18px; // Even-odd
  position: relative;
}

.hex-small {
  background: $hex-background;
  display: inline-block;
  height: $small-hex-size * 1.7; //DO NOT CHANGE THIS ONE EVER!!!!!
  margin: $small-hex-size * .1;
  margin-right: $small-hex-size * .5;
  position: relative;
  transform: rotate(-90deg);
  width: $small-hex-size;

  &::before {
    background: inherit;
    border-radius: inherit;
    content: '';
    height: inherit;
    position: absolute;
    transform: rotate(60deg);
    width: inherit;
  }

  &::after {
    background: inherit;
    border-radius: inherit;
    content: '';
    height: inherit;
    position: absolute;
    transform: rotate(-60deg);
    width: inherit;
  }
}

.navbar {
  height: 60px;
  min-height: 60px;
}

.navbar-nav>button {
  display: inline-block;
  float: none;
  text-align: center;
}

.hidden {
  background: $page-background !important;
  cursor: initial !important;
}

.red {
  background: $mark-red !important;
  cursor: initial !important;
}

.blue {
  background: $mark-blue !important;
  cursor: initial !important;
}

.win-R {
  background: $win-red !important;
}

.win-B {
  background: $win-blue !important
}
